/* global.css */
body {
    margin: auto;
    width: auto;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #3e3e3e;
    color: #ddd;
}

.container {
    width: 90%;
    margin:auto;
}

/* other global styles */
